<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <div class="flex-container">
      <mat-icon class="clickable icon-display" (click)="sidenav.close()">arrow_back</mat-icon>

      <div class="flex-nav-header">
        <div class="sidenav-options">
          <div class="clickable" [routerLink]="['/']">Home</div>
          <div class="clickable" [routerLink]="['/gallery']">Works</div>
          <!-- <div class="clickable" [routerLink]="['/shop']">Shop</div> -->
          <div class="clickable" [routerLink]="['/blog']">Writings</div>
          <div class="clickable" [routerLink]="['/about']">About</div>
          <div class="clickable" [routerLink]="['/contact']">Contact</div>
          <div *ngIf="!isLoggedIn()">
            <div class="clickable" [routerLink]="['/auth/login']">Log in</div>
            <div class="clickable" [routerLink]="['/auth/register']">Sign up</div>
          </div>
          <div>
            <div *ngIf="isLoggedIn()" class="clickable" [routerLink]="['/auth/logout']">Logout</div>
          </div>
        </div>
      </div>
    </div>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-icon class="clickable icon-display" (click)="opened=!opened" *ngIf="!opened">reorder</mat-icon>
  </mat-sidenav-content>
</mat-sidenav-container>
