<div class="container">
  <div *ngIf="isAdmin()">
    <div class="row mt-4">
      <button routerLink="/blog/new" type="button" class="btn btn-primary">Create new blog</button>
    </div>
  </div>
</div>

<div class="container">
  <div
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    [infiniteScrollDisabled]="is_loading"
    (scrolled)="onScroll()"
    >

    <div class="row gy-4 gx-4 main-panel">
      <div *ngFor="let blog of loadedBlogs">
        <app-blog-row-card [blog]="blog"></app-blog-row-card>
      </div>
    </div>
  </div>
</div>

<div class="row my-5 loading-spinner">
  <ngx-spinner
  bdColor="rgba(0, 0, 0, 0.0)"
  size="medium"
  color="#fff"
  type="ball-scale-ripple-multiple"
  [fullScreen]="false"
  ><p style="color: white" >Loading...</p>
  </ngx-spinner>
</div>

