
<div class="flex-container">
  <div class="flex-wrapper">
    <img src="{{ data.image }}" class="popup-img">
    <div class="popup-details">
      <h1>'{{ data.title }}'</h1>
      <p>{{ data.category }}</p>
      <p>{{ data.description }}</p>
      <p>{{ data.created_at }}</p>
    </div>
  </div>

<!--
  <img src="{{ data.image }}" class="popup-img">
  <div class="popup-details">
    <h1>'{{ data.title }}'</h1>
    <p>{{ data.category }}</p>
    <p>{{ data.description }}</p>
    <p>{{ data.created_at }}</p>
  </div> -->

</div>

