:host {
  position: relative;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.backgroundSemiTransparent {
  background: white;
  opacity: 0.85;
}

.backgroundTransparent {
  background: transparent;
}

.information {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  cursor: pointer;
}

.icon-information {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  color: #5e5c5a;
  transform: scale(1.5);
}

.details {
  color: black;
  padding: 20px;
  border-radius: 20px;
  margin-right: 20px;
  max-width: 500px;
  z-index: 10;
}

.popup-img {
  object-fit: contain;
  max-width: 99%;
  max-height: 99%;
}
