<div class="flex-container my-5">
  <div class="row text-center">
    <div>
      <img class="uploaded-image" src="/assets/images/rumen_self_portrait.jpg" alt="Image" />
    </div>
  </div>


  <div class="text-description m-4 flex-div row">
      <p>My name is Rumen Plamenov and I am a self-taught artist based in Sofia, Bulgaria. My interest in art started at a relatively old age, but I have always found beauty in visual expression through shapes,
        color and texture. For me, the most fascinating part of artmaking is the expression of the subject through its most basic and fundamental qualitites - its essence.
        Artists like Sargent are impressive in their ability to capture the vitality of a person with such a raw and laconic approach. By not giving
        the viewer everything, you can engage his imagination and allow him to fill in the missing, thus creating an experience rather than just a piece of art.
        What gives such an effect is somewhat of a mystery, but this search for `what makes up something`, what makes a shape beautiful, is mesmerizing and enchanting.
        This idea encapsulates a quality of humanity and simplicity, and presents us an evocative view at reality, a dialog between the creator and the observer.</p>
  </div>

</div>

