
<div *ngIf="blog">
  <div class="row my-4 darken-layer" (click)="onClick(blog.title)">
    <div class="col-2 me-5">
      <div class="blog-item">
          <div *ngIf="isAdmin()" ngbDropdown class="options-dots" (click)="open($event)" >
            <mat-icon id="dropdownBasic1" ngbDropdownToggle>more_vert</mat-icon>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button type="button" (click)="editBlog(blog)" ngbDropdownItem>Edit picture</button>
              <button type="button" (click)="deleteBlog(blog)" ngbDropdownItem>Delete picture</button>
          </div>
        </div>
        <img *ngIf="contains_image" src="{{ blog.image }}" class="img-fluid">
        <img *ngIf="!contains_image" src="/assets/images/no_image.jpg" alt="Image"/>
      </div>
    </div>
    <div class="col-9">
      <h2 class="title">{{ blog.title }}</h2>
      <p>{{ plain_text_content }}</p>
      <span>{{ blog.created_at | parse_timestamp }}</span>
    </div>
  </div>
  <hr>
</div>
