

app-header {
  height: 100%;
  position: fixed;
  z-index: 10;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

:host {
  display: block;
  position: relative;
  min-height: 105%;
  background-color: #bd5d5d73;
}

:root {
  --primary-bg-color: #bd5d5d73;
}

.flex-nav-wrapper {
  padding-bottom: 5%;
  position: relative;
  display: flex;
  height: 100%;
}

.container {
  position: relative;
  height: 100%;
  padding-left: 56px;
  min-height: 60rem;
}
