
<form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
  <div class="flex-to-center-btn">
    <div>
      <div class="flex-container py-5">
        <div class="row me-3">
          <div class="row ms-3 d-inline-block">
            <div class="col-12 my-2">
              <label >Title </label>
            </div>
            <div class="col-12">
              <input formControlName="title" placeholder="Your title">
              <span class="text-danger" *ngIf="(mode === 'CREATE' && registerFormControl['title'].value.length === 0 && (registerFormControl['title'].touched || submitted))"> *Title is required</span>
            </div>
          </div>

          <div class="row ms-3 d-inline-block">
            <div class="col-12 my-2">
              <label>Description </label>
            </div>
            <div class="col-12">
              <input formControlName="description" placeholder="Your description">
              <span class="text-danger" *ngIf="(registerFormControl['description'].value.length === 0 && (registerFormControl['description'].touched || submitted))"> *Description is required</span>
            </div>
          </div>

          <div class="row ms-3 d-inline-block">
            <div class="col-12 my-2">
              <label>Category </label>
            </div>
            <div class="col-12">
              <select
                class="custom-select mb-3"
                formControlName="category">
              <option *ngFor="let category of categoriesNames" [ngValue]="category">
                {{ category }}
              </option>
              </select>
              <span class="text-danger" *ngIf="(registerFormControl['category'].value.length === 0 && (registerFormControl['category'].touched || submitted ))"> *Category is required</span>
            </div>
          </div>
        </div>

        <div>
          <div class="flex-image-div">
            <img class="uploaded-image" *ngIf="this.receivedImage !== null && imagePath == ''" [src]="this.receivedImage" alt="Image" />
            <div class="row my-5">
              <img class="uploaded-image" *ngIf="imagePath !== ''" [src]="imgUrl">
              <span class="text-danger" *ngIf="imageErrorMessage !== ''"> *{{ imageErrorMessage }}</span>
            </div>
            <input type="file" (change)="onFileSelect($event)">
          </div>
        </div>
      </div>
    </div>

    <div>
      <button type="submit" class="btn btn-primary">{{ this.buttonMessage }}</button>
    </div>
  </div>


</form>

