

ngb-carousel .picsum-img-wrapper > img {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 100vh;
}

.fullscreen-icon {
  position: absolute;
  right: 20%;
  top: 5%;
  z-index: 3;
  font-size: 2.1em
}

.clickable {
  cursor: nwse-resize;
}

.clickable:hover {
  color: rgb(0, 0, 0, 0.4);
}
