<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.4)"
  size="medium"
  color="#fff"
  type="ball-scale-ripple-multiple"
  [fullScreen]="true"
  ><p style="color: white" >Loading...</p>
</ngx-spinner>

<div *ngIf="true" class="pictures-block">
  <div *ngIf="isAdmin()">
    <div class="row my-5">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <button routerLink="/picture/new" type="button" class="btn btn-primary">Add new picture</button>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <button routerLink="/category/new" type="button" class="btn btn-primary">Add new category</button>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <button routerLink="/category" type="button" class="btn btn-primary">View categories</button>
      </div>
    </div>
  </div>

  <div class="row my-3">
    <app-selectable-buttons-bar [btnType]="'category'" [buttonNames]="categoryNameList" (selectedButtonNamesEvent)="setSelectedCategoryNamesAndRefreshData($event)"></app-selectable-buttons-bar>
  </div>
  <div class="row my-3">
    <app-selectable-buttons-bar [btnType]="'year'" [buttonNames]="pictureYearsList" (selectedButtonNamesEvent)="setSelectedYearsAndRefreshData($event)"></app-selectable-buttons-bar>
  </div>

  <div
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    [infiniteScrollDisabled]="is_loading"
    (scrolled)="onScroll()"
    >

    <div class="row gy-4 gx-4 main-panel">
      <div *ngFor="let picture of loadedPictures" class="col-sm-6 col-md-6 col-lg-4">
        <div>
          <div class="picture-item" tabindex="0" (click)="showPictureDetails(picture)">
            <div class="darken-layer">
              <div *ngIf="isAdmin()" ngbDropdown class="options-dots" (click)="open($event)" >
                <mat-icon id="dropdownBasic1" ngbDropdownToggle>more_vert</mat-icon>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button type="button" (click)="editPicture(picture)" ngbDropdownItem>Edit picture</button>
                  <button type="button" (click)="deletePicture(picture)" ngbDropdownItem>Delete picture</button>
                </div>
              </div>
            </div>
            <img src="{{ picture.image }}">
            <div class="gallery-item-info"></div>
          </div>
      </div>
    </div>
  </div>
</div>
